In [ ]:
import pandas as pd

In [ ]:
trainfile = pd.read_csv('train.csv')
print(trainfile.head())

   ID        Lat         Lng  ...  Side  Severity            timestamp
0   0  37.762150 -122.405660  ...     R         2  2016-03-25 15:13:02
1   1  37.719157 -122.448254  ...     R         2  2020-05-05 19:23:00
2   2  37.808498 -122.366852  ...     R         3  2016-09-16 19:57:16
3   3  37.785930 -122.391080  ...     R         1  2020-03-29 19:48:43
4   4  37.719141 -122.448457  ...     R         2  2019-10-09 08:47:00

[5 rows x 16 columns]

In [ ]:
testfile = pd.read_csv('test.csv')
print(testfile.head())

     ID        Lat         Lng   Bump  ...   Stop  Amenity  Side            timestamp
0  6407  37.786060 -122.390900  False  ...  False    False     R  2016-04-04 19:20:31
1  6408  37.769609 -122.415057  False  ...  False    False     R  2020-10-28 11:51:00
2  6409  37.807495 -122.476021  False  ...  False    False     R  2019-09-09 07:36:45
3  6410  37.761818 -122.405869  False  ...  False    False     R  2019-08-06 15:46:25
4  6411  37.732350 -122.414100  False  ...  False    False     R  2018-10-17 09:54:58

[5 rows x 15 columns]

In [ ]:
holidaysfile = pd.read_csv('holidays.csv')
print(holidaysfile.head())

         date                            description
0  2012-01-02                           New Year Day
1  2012-01-16             Martin Luther King Jr. Day
2  2012-02-20  Presidents Day (Washingtons Birthday)
3  2012-05-28                           Memorial Day
4  2012-07-04                       Independence Day

In [ ]:
weatherfile = pd.read_csv('weather-sfcsv.csv')
print(weatherfile.head())

   Year  Day  Month  ...  Wind_Speed(mph) Visibility(mi)  Selected
0  2020   27      7  ...             20.0           10.0        No
1  2017   30      9  ...              9.2           10.0        No
2  2017   27      6  ...             15.0            9.0        No
3  2016    7      9  ...              4.6           10.0        No
4  2019   19     10  ...              0.0            9.0        No

[5 rows x 12 columns]

In [ ]:
trainfile.reset_index()

      index    ID        Lat  ...  Side  Severity            timestamp
0         0     0  37.762150  ...     R         2  2016-03-25 15:13:02
1         1     1  37.719157  ...     R         2  2020-05-05 19:23:00
2         2     2  37.808498  ...     R         3  2016-09-16 19:57:16
3         3     3  37.785930  ...     R         1  2020-03-29 19:48:43
4         4     4  37.719141  ...     R         2  2019-10-09 08:47:00
...     ...   ...        ...  ...   ...       ...                  ...
6402   6402  6402  37.740630  ...     R         3  2017-10-01 18:36:13
6403   6403  6403  37.752755  ...     R         2  2018-10-23 07:40:27
6404   6404  6404  37.726304  ...     R         2  2019-10-28 15:45:00
6405   6405  6405  37.808090  ...     R         3  2019-05-04 13:45:31
6406   6406  6406  37.773745  ...     R         2  2020-02-28 19:43:00

[6407 rows x 17 columns]

In [ ]:
trainfile['Date'] = pd.to_datetime(trainfile['timestamp'], errors='coerce')

In [ ]:
trainfile['day'] = trainfile['Date'].dt.day
trainfile['month'] = trainfile['Date'].dt.month
trainfile['year'] = trainfile['Date'].dt.year
trainfile['hour'] = trainfile['Date'].dt.hour

In [ ]:
print(trainfile.head())

   ID        Lat         Lng   Bump  ...                Date  day  month  year
0   0  37.762150 -122.405660  False  ... 2016-03-25 15:13:02   25      3  2016
1   1  37.719157 -122.448254  False  ... 2020-05-05 19:23:00    5      5  2020
2   2  37.808498 -122.366852  False  ... 2016-09-16 19:57:16   16      9  2016
3   3  37.785930 -122.391080  False  ... 2020-03-29 19:48:43   29      3  2020
4   4  37.719141 -122.448457  False  ... 2019-10-09 08:47:00    9     10  2019

[5 rows x 20 columns]

In [ ]:
holidaysfile['Date'] = pd.to_datetime(holidaysfile['date'], errors='coerce')

In [ ]:
holidaysfile['h_day'] = holidaysfile['Date'].dt.day
holidaysfile['h_month'] = holidaysfile['Date'].dt.month
holidaysfile['h_year'] = holidaysfile['Date'].dt.year
print(holidaysfile.head())

         date                            description  ... h_month  h_year
0  2012-01-02                           New Year Day  ...       1    2012
1  2012-01-16             Martin Luther King Jr. Day  ...       1    2012
2  2012-02-20  Presidents Day (Washingtons Birthday)  ...       2    2012
3  2012-05-28                           Memorial Day  ...       5    2012
4  2012-07-04                       Independence Day  ...       7    2012

[5 rows x 6 columns]

In [ ]:
result0 = trainfile.merge(holidaysfile, left_on=['year','month','day'], right_on=['h_year','h_month','h_day'],how='left')

In [ ]:
print(result0.describe())

                ID          Lat  ...     h_month       h_year
count  6407.000000  6407.000000  ...  148.000000   148.000000
mean   3203.000000    37.765653  ...    7.567568  2018.641892
std    1849.685919     0.032555  ...    4.140660     1.314545
min       0.000000    37.609619  ...    1.000000  2016.000000
25%    1601.500000    37.737096  ...    2.000000  2018.000000
50%    3203.000000    37.768238  ...    9.500000  2019.000000
75%    4804.500000    37.787813  ...   11.000000  2020.000000
max    6406.000000    37.825626  ...   12.000000  2020.000000

[8 rows x 11 columns]

In [ ]:
print(result0.columns)

Index(['ID', 'Lat', 'Lng', 'Bump', 'Distance(mi)', 'Crossing', 'Give_Way',
       'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Stop', 'Amenity',
       'Side', 'Severity', 'timestamp', 'Date_x', 'day', 'month', 'year',
       'date', 'description', 'Date_y', 'h_day', 'h_month', 'h_year'],
      dtype='object')

In [ ]:
result1 = result0.merge(weatherfile, left_on=['year','month','day'], right_on=['Year','Day','Month'],how='left')

In [ ]:
result1.to_csv('train_new_H.csv')

In [ ]:
result1['description'] = result1['description'].fillna(0)

result1[result1['description']!= 0] = 1

In [ ]:
print(result1['description'].head(202))

0      0
1      0
2      0
3      0
4      0
      ..
197    0
198    0
199    0
200    0
201    1
Name: description, Length: 202, dtype: int64

In [ ]:
#renaming Description column to Holiday to respresent wether the day is a working day or Holiday
result1.rename(columns={"description": "holiday"})

         ID        Lat         Lng  ... Visibility(mi)  Selected holiday
0         0  37.762150 -122.405660  ...            NaN       NaN       1
1         1  37.719157 -122.448254  ...           10.0        No       1
2         1  37.719157 -122.448254  ...           10.0        No       1
3         1  37.719157 -122.448254  ...           10.0        No       1
4         1  37.719157 -122.448254  ...           10.0        No       1
...     ...        ...         ...  ...            ...       ...     ...
15099  6403  37.752755 -122.402790  ...            NaN       NaN       1
15100  6404  37.726304 -122.446015  ...            NaN       NaN       1
15101  6405  37.808090 -122.367211  ...           10.0        No       1
15102  6405  37.808090 -122.367211  ...           10.0        No       1
15103  6406  37.773745 -122.408515  ...            NaN       NaN       1

[15104 rows x 39 columns]

In [ ]:
Wind_Chill(F)	Precipitation(in)	Temperature(F)	Humidity(%)	Wind_Speed(mph)	Visibility(mi)

In [ ]:
def replae_with_mean(ColumnName):
  return result1[ColumnName].fillna((result1[ColumnName].mean()), inplace=True)

In [ ]:
replae_with_mean()